// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

input {
    clear: both;
    padding-top: 10px;
    display: none;
  } 

label {
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    width: 20%;
    padding: 1.5em;
    color: #757575;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #f0f0f0;
}

#okreg-1:not(:checked) ~ .okreg-1,
#okreg-2:not(:checked) ~ .okreg-2,
#okreg-3:not(:checked) ~ .okreg-3,
#okreg-4:not(:checked) ~ .okreg-4 {
  display: none;
}

#okreg-1:checked ~ .okreg-1,
#okreg-2:checked ~ .okręg-2,
#okreg-3:checked ~ .okręg-3,
#okreg-4:checked ~ .okręg-4 {
  display: block;
}

#okreg-1:checked + label,
#okreg-2:checked + label,
#okreg-3:checked + label,
#okreg-4:checked + label {
  background: darkgray;
}


/* header */
#wrapper-navbar {
  .navbar-brand {
    color: $primary;
    svg {
      height: 35px;
      width: auto;
      }
  }
  .navbar {
    height: $header-height;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    background-color: #f8f9f9;
    box-shadow: 0 2px 4px 0 rgba(50,50,50,.06);
    border-bottom: 1px solid #eee;
    .nav-link {
      color: $body-color;
      font-weight: $font-weight-bold;
      &:hover {
        color: $gray-500;
      }
    }
  }
  .active {
    > .nav-link {
      color: $gray-500;
    }
  }

  figure {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    height: calc(100vh - #{$header-height});
    margin-top: $header-height;
    background-image:url("../uploads/2018/09/homepage-image.jpg");
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    > section {
      margin-right: 7vw;
      width: 45vw;
      margin-top: 7%;
      h1 {
        font-weight: 900;
        text-transform: uppercase;
        font-size: 4rem;
        color: #ff0000;
      }
      > svg {
        width: auto;
        height: 4.5vw;
      }
    }
  }
}

#page-wrapper {
  margin-top: $header-height;
}