$profile-color: #023f7b;
// $profile-color: #01017a;
// $profile-color: #115497;
$profile-black: #212529;


$header-height: 70px;

// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
h1, h2, h3, h4, h5, h6 {
  color: $profile-color;
  font-weight: 700;
}

.btn-secondary {
  color: $profile-color;
  background-color: initial;
  border-color: snow;
  padding: 0;
  text-decoration: underline;
  &:hover {
    color: $gray-900;
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
  }
  &:focus {
    background: none;
    border: none;
    box-shadow: none;
  }
}

h3 {
  margin-bottom: 1rem;
}

ul {
  list-style: outside disc;
  margin-left: 1em;
}
ul li {
  position: relative;
  left: 1em;
  padding-right: 1em;    
}

.jump-to-page {
  background:$profile-color;
  padding: 1rem;
  color: white;
  margin: 1rem auto;
  &:hover {
    opacity: 0.9;
    color: white;
    text-decoration: none;
  }
}

.home {
  .navbar {
    background-color: transparent !important;
    border-bottom: none !important;
  }
  h5 {
  margin-bottom: 1.4rem;
  }
  h1+h5 {
    text-transform: none;
  }
  .featured-video-plus {
    iframe {
      width: 100%;
      @media (min-width: 768px) {
        height: min-content;
      }
    }
  }
}

h5 {
  color: $profile-black;
  font-size: 1rem;
  text-transform: uppercase;
}

.spacer {
  height: 10px;
  display: block;
}

.affix {
  width: 100%;
  top: 70px;
  position: fixed;
  overflow: visible!important;
  padding: 0.5rem;
  z-index: 9;
  margin: 0 auto;
}

.show-okregi-spacer {
  height: 54px;
}

.top.wrapper {
  background: white;
  margin-bottom: 3rem;
}

.post_content {
  padding: 1.5rem 1.5rem 1rem;
}

img {
  margin: 0.75rem 0;
}

input {
    clear: both;
    padding-top: 10px;
    display: none;
  } 

label {
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    width: 20%;
    padding: 1.5em;
    color: #757575;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #f0f0f0;
}

#okreg-1:checked + label,
#okreg-2:checked + label,
#okreg-3:checked + label,
#okreg-4:checked + label {
  background: darkgray;
}


/* header */

    /*fix for mobile menu homepage*/
  .home {
    .navbar-collapse.collapse.show {
      padding-bottom: $header-height;
    }
  }


#wrapper-navbar {
  .navbar-brand {
    color: $primary;
    svg {
      height: 44px;
      width: auto;
      }
  }
  .navbar {
    // height: $header-height;
    width: 100%;
    z-index: 10;
    top: 0;
    background-color: white;
    border-bottom: 1px solid $profile-black;
    .nav-link {
      color: $profile-color;
      // color: $profile-black;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 0.8rem;
      &:hover {
        color: $profile-black;
      }
    }
    .navbar-toggler {
      color: $profile-color;
      border: 1px solid $profile-color;
    }
  }
  .active {
    > .nav-link {
      color: $profile-black;
    }
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin-top: -$header-height;
    background-image:url("../uploads/2018/09/homepage-image.jpg");
    background-size: cover;
    background-position:center bottom;
    background-repeat: no-repeat;
    margin-bottom: 0;
    @media (max-width: 576px) { 
      background-image:url("../uploads/2018/09/mobile-homepage-image.jpg");
     }
    > section {
      margin-right: 6vw;
      width: 45vw;
      margin-top: 22%;
      h1 {
        font-weight: 600;
        font-size: 4rem;
        color: $profile-color;
      }
      > svg {
        width: auto;
        height: 4.5vw;
      }
    }
    div {
      width: 100%;
      > a {
        align-self: center;
        color: white;
        margin-bottom: 3rem;
        padding: 0.5rem 0.3rem;
        text-transform: uppercase;
        font-size: 0.85rem;
        letter-spacing: 2px;
      }
      span {
        align-self: center;
        flex-basis: 100px;
        flex-basis: 16rem;
        text-align: center;
        color: #fff;
        font-weight: 600;
        p {
          margin-bottom: 0;
        }
        a {
          color: white;
          text-decoration: underline;
          svg {
            width: 50px;
            height: 50px;
            transition: all .25s ease-in-out;
          }
          &:hover {
            svg {
              transform: translate(0,-5px);
              path {
                fill: $profile-black;
              }
              
            }
          }
        }
      }
    }
  }
}

#page-wrapper {
  // margin-top: $header-height;
}

/*homepage styles*/

.home {
  background: #ebeced;
  .porady {
    a {
      display: block;
      color: inherit;
      margin: 0;
      text-decoration: none;
      padding: 0.7rem 1.5rem 1.5rem;
      transition: all 0.25s ease-in-out;
      background: #ffffff;
      margin-bottom: 1rem;
      // border-top: 4px solid #023f7b;
      &:hover {
        transform: translate(0, -5px);
      }
      h4 {
        transition: inherit;
        color: #212529;
        font-weight: 400;
        text-transform: none;
      }
      h5 {

      }
      p {
        font-weight: 400;
        color: #023f7b;
        margin-bottom: 0;
        font-size: 0.9rem;
      }
      // figure {
      //   width: 80px;
      //   height: 80px;
      //   background: white;
      //   background-image:url("../uploads/2018/09/porady-ikony.svg");
      //   background-size: cover;
      //   background-repeat: no-repeat;
      //   margin: 0 0 1rem;
      //   transition: all 0.25s ease-in-out;
      // }
      &:nth-of-type(1) {
        figure {
          background-position: center;
        }
      }
      &:nth-of-type(2) {
        figure {
          background-position: right;
        }
      }
      &:nth-of-type(3) {
        figure {
          background-position: left;
        }
      }
      &:hover {
        figure {
          transform: translate(0, 5px);
          background-color: #f1f1f1;
        }
      }
    }
  }

.news__container {
  margin-bottom: 3rem;
}
    .understrap-read-more-link {
    display: none;
  }
  .show.understrap-read-more-link {
    display: inline-block;
    border: none;
  }
}

/*pages*/

.entry-header {
  position: relative;
  z-index: 5;
  h1 {
    // color: white;
    color: black;
    font-weight: 600;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
}

.entry-content {
  // margin-top: 6rem;
}

.post { 
  margin: 2rem 0;
  .wp-block-image {
    figure {
    margin-right: 1.5em;
    }
  }
}

/*kandydaci*/

// h5:not(.home) {
//   color: #212529;
//   margin-bottom: auto;
// }

.fb {
  a.external_icon {
    background: url("../uploads/2018/09/fb_icon.png") center right no-repeat;
    padding-right: 33px;
    background-size: contain;
  }
}

.wp-block-image.col-md-6 {
  padding-left: 0;
  padding-right: 1.5rem;
  figure {
    margin-right: 2rem;
  }
}
.page-template-kandydaci {
  ul.nav {
    background: white;
    width: 100%;
    -webkit-padding-start: 0;
    li {
      margin-right: 1rem;
      flex-grow: 1;
      text-align: center;
      left: 0;
      padding-right: 0;
      a {
        font-weight: 700;
        text-transform: uppercase;
        font-size: .8rem;
      }
    }
  }
  .people-category {
    margin-top: 3rem;
    border-bottom: 1px solid $profile-black;
    h2 {
      color: $profile-black;
      margin-right: 1rem;
    }
  }
  .post { 
    margin: 2rem 0;
    .wp-block-image {
      figure {
      margin-right: 1.5em;
      }
    }
    h4 {
      color: $profile-color;
      padding-top: 1rem;
      &+p {
        color: $profile-color;
        font-style: italic;
      }
    }
    small {
      display: block;
      text-transform: uppercase;
      padding: .3rem 0 .6rem;
      margin-bottom: 1rem;
      font-weight: 300;
      border-bottom: 1px solid $gray-600;
    }
    a {
      text-decoration: underline;
    }
  }
}


/*footer*/

.site-info {
  border-top: 1px solid $profile-color;
  padding-top: 0.5rem;
  .go-to-page-top {
    position: fixed;
    background: #023f7bcf;
    color: white;
    font-size: 0.75rem;
    text-transform: uppercase;
    bottom: 2rem;
    right: 1rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 1.2;
    display: none;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    transition: all .25s ease-in-out;
    &:hover {
      transform: translate(0,-5px);
    }
    span {
      position: relative;
      top: 32%;
    }
  }
}


/*PROGRAM PAGE*/
.page-template-program {
  .post {
    .wp-block-embed {
      max-width: 50%;
      @media (max-width: 768px) {
        max-width: 100%;
      }
    }
  }
}